*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: red 3px solid;
}

body input:required:valid,
body textarea:required:valid {
	border: green 3px solid;
}

body {
	color: #3d3d3d;
	font-family: "RobotoRegular", sans-serif;
	font-size: 13pt;
	margin: 0;
	padding: 0;
}

#menu {
	background: url("/images/menu_bg_02.png") repeat-x;
	height: 41px;
	padding-top: 13px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 11;
}

#menu a {
	color: #000;
	margin: 0 5px;
	text-decoration: none;
}

#menu a:hover {
	color: #8a0a48;
}

header, #advantages, #steps, #why, #works {
	border-bottom: 3px solid #fff;
}

header {
	background: url("/images/header.png") no-repeat center center;
	font-family: "RobotoCondensedLight";
	height: 605px;
	margin-top: 41px;
	text-align: center;
}

.header {
	background: url("/images/header_01.png") repeat-x;
}

header h1, header h2 {
	margin: 0;
}

header h1 {
	color: #f9e00b;
	font-size: 300%;
	padding-top: 60px;
	text-shadow: 5px 0 5px #000;			/*тень*/
}

header h2 {
	color: #fff;
	padding-top: 10px;
}