@font-face {
	font-family: "Intro";
	src: url("/fonts/Intro.woff");
}

@font-face {
	font-family: "OSCB";
	src: url("/fonts/OpenSans-CondBold.woff");
}

body {
	color: #3d3d3d;
	font-family: OSCB;
	font-size: 13pt;
	margin: 0;
	padding: 0;
}

#menu {
	background: url("/images/bg_menu.png") repeat-x;
	height: 41px;
	padding-top: 13px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 200;
}

#menu a {
	color: #000;
	margin: 0 5px;
	text-decoration: none;
}

#menu a:hover {
	color: #8a0a48;
}

header, #advantages, #steps, #why, #works {
	border-bottom: 3px solid #fff;
}

header {
	background: url("/images/header.png") no-repeat center center;
	font-family: Intro;
	height: 605px;
	margin-top: 54px;
	text-align: center;
}

header h1, header h2 {
	margin: 0;
}

header h1 {
	color: #f9e00b;
	font-size: 300%;
	padding-top: 57px;
	text-shadow: 5px 0 5px #000;
}

header h2 {
	color: #fff;
	padding-top: 10px;
}