*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: red 3px solid;
}

body input:required:valid,
body textarea:required:valid {
	border: green 3px solid;
}

body {
	color: #3d3d3d;
	font-family: "RobotoRegular", sans-serif;
	font-size: 13pt;
	margin: 0;
	padding: 0;
}

#menu {
	background: url("/images/menu_bg_02.png") repeat-x;
	height: 41px;
	padding-top: 13px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 11;
}

#menu a {
	color: #000;
	margin: 0 5px;
	text-decoration: none;
}

#menu a:hover {
	color: #8a0a48;
}

header, #advantages, #steps, #why, #works {
	border-bottom: 3px solid #fff;
}

header {
	background: url("/images/header.png") no-repeat center center;
	font-family: "RobotoCondensedLight";
	height: 605px;
	margin-top: 41px;
	text-align: center;
}

.header {
	background: url("/images/header_01.png") repeat-x;
}

header h1, header h2 {
	margin: 0;
}

header h1 {
	color: #f9e00b;
	font-size: 300%;
	padding-top: 60px;
	text-shadow: 5px 0 5px #000;			/*тень*/
}

header h2 {
	color: #fff;
	padding-top: 10px;
}

#advantages, #steps, #why, #works, #guarantee {
	padding: 1px 0 15px;
	text-align: center;
}

#advantages {
	background: url("/images/advantages.png") no-repeat top center;
	background-size: cover;
}

#steps {
	background: url("/images/steps.png") no-repeat top center;
	background-size: cover;
}

#why {
	background: url("/images/why.png") no-repeat top center;
	background-size: cover;
}

#works {
	background: url("/images/works.png") no-repeat top center;
	background-size: cover;
}

#works .mb {
	margin-bottom: 30px;
}

#guarantee {
	background: url("/images/guarantee.png") no-repeat top center;
	background-size: cover;
}

footer {
	background: url("/images/bg_footer.png") repeat-x;
	color: #000;
	font-size: 90%;
	height: 44px;
	padding-top: 10px;
}

footer p {
	margin: 0;
}

#advantages h2, #steps h2, #why h2, #works h2  {
	font-family: "RobotoCondensedLight";
	margin-bottom: 50px;
	margin-top: 41px;
	text-shadow: 1px 1px 2px #fff;
}

#advantages h2, #why h2 {
	color: #00345d;
}

#steps h2, #works h2 {
	color: #ab1749;
}

#advantages .button {
	margin-top: 10px;
}

#steps .button {
	margin-top: 85px;
}

#guarantee .button {
	margin-top: 22px;
}

.button, #popup input[type="submit"] {
	color: #f9e00b;
	cursor: pointer;
	font-family: "RobotoCondensedLight";
	font-size: 150%;
	margin: 0 auto;
	text-shadow: 1px 1px 2px #000;
}

.button {
	background: url("/images/b.png") no-repeat;
	height: 66px;
	padding-top: 18px;
	text-shadow: 1px 1px 2px #000000;
	width: 517px;
}

.button:hover {
	background: url("/images/b_hover.png") no-repeat;
}

#steps p {
	font-size: 79%;
	margin: 0;
	text-shadow: 1px 1px 2px #fff;
}

#steps .number {
	font-size: 200%;
}

#steps .step:nth-child(1) .number, #steps .step:nth-child(2) .number, #steps .step:nth-child(3) .number {
	color: #ab1749;
	margin-top: 15px;
}

#steps .step:nth-child(5) .number, #steps .step:nth-child(6) .number, #steps .step:nth-child(7) .number {
	color: #d50000;
	margin-top: 100px;
}

.step {
	float: left;
}

.clear {
	clear: both;
}

#steps_table {
	background: url("/images/steps_icons.png") no-repeat;
	height: 317px;
	margin: 0 auto;
	width: 990px;
}

.step:nth-child(1) {
	margin-left: 22px;
}

.step:nth-child(2) {
	margin-left: 195px;
}

.step:nth-child(3) {
	margin-left: 168px;
}

.step:nth-child(5) {
	margin: 30px 0 0 163px;
}

.step:nth-child(6) {
	margin: 30px 0 0 182px;
}

.step:nth-child(7) {
	margin: 30px 0 0 212px;
}

#works .site img {
	margin-top: 11px;
}

#works .site {
	background: url("/images/laptop.png") no-repeat center center;
	height: 159px;
	width: 229px;
	margin: 0 auto;
}

#works .cell {
	padding: 0 5px;
}

#works .cell:nth-child(1) {
	text-align: right;
}

#works .cell:nth-child(2) {
	color: #ab1749;
}

#guarantee .icon {
	text-align: right;
	margin-top: 35px;
}

#guarantee .guarantee_text {
	margin-top: 60px;
	text-align: left;
}

footer .col-md-4:nth-child(1) {
	float: left;
	text-align: left;
}

footer .col-md-4:nth-child(2), footer .col-md-4:nth-child(3) {
	float: right;
	text-align: right;
}

#parent_popup {
	background: url("/images/bg_popup.png") repeat;
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 10;
}

#popup {
	background: url("/images/popup.png") no-repeat;
	height: 427px;
	margin: 50px auto 0;
	width: 427px;
}

#popup_close {
	padding: 19px 19px 0 0;
	text-align: right;
}

#popup_close img {
	cursor: pointer;
}

#popup h3 {
	color: #00345d;
	font-family: "RobotoCondensedLight";
	margin: 4px 22px 0 0;
	text-align: center;
}

#popup input[type="text"] {
	border-radius: 5px;
	border: #fff 3px solid;
	font-size: 120%;
	height: 48px;
	margin: 35px 0 0 35px;
	padding: 0 10px;
	width: 322px;
}

#popup input[type="submit"] {
	background: url("/images/popup_b.png") no-repeat;
	border: none;
	height: 68px;
	margin: 20px 0 0 26px;
	width: 346px;
}

#popup input[type="submit"]:hover {
	background: url("/images/popup_b_hover.png") no-repeat;
}